{ 
  "env": {
    "umd": {
      "resolveModuleSource": null,
      "presets": ["es2015"],
      "plugins": [
        "transform-es2015-modules-umd",
        ["rename-umd-globals", { "shopifyBuy": "ShopifyBuy" }]
      ],
      "moduleId": "shopify-buy"
    },
    "amd": {
      "moduleRoot": "shopify-buy",
      "moduleIds": true,
      "resolveModuleSource": null,
      "presets": ["es2015"],
      "plugins": ["transform-es2015-modules-amd"],
      "sourceRoot": "src/"
    }
  }
}
