{
  "presets": [
    "es2015-rollup"
  ],
  "env": {
    "browser": {
      "presets": [
        ["shopify/web", {
          "modules": false
        }]
      ]
    },
    "node": {
      "presets": [
        ["shopify/node", {
          "modules": false
        }]
      ]
    }
  }
}
