{
  "extends": "nightmare-mode/browser",
  "parser": 'babel-eslint',
  "rules": {
    "arrow-spacing": [2, { "before": true, "after": true }],
    "camelcase": [2, { "properties": "never" }],
    "func-names": 0,
    "global-require": 0,
    "no-invalid-this": 0,
    "no-restricted-syntax": 0,
    "object-curly-spacing": [2, "always"],
    "prefer-arrow-callback": 0,
    "prefer-reflect": 0
  }
}
