# Logs
logs
*.log
npm-debug.log*

# dotfiles
.DS_Store
.babelrc
.eslintrc.json

# Dependencies
node_modules

# Intermediate files
.tmp
types.js

# Decrypted secrets
secrets.json
.nvmrc

# Sources
src
test
rollup.config.js
cirle.yml
schema.json
secrets.ejson
service.yml
shipit.yml
yarn.lock
