<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <style>
    /* Hide the deprecation notice on the home page so we don't double up  */
    body.home blockquote:nth-of-type(1), body.home hr:nth-of-type(1) {
      display: none;
    }
    /* Tidy headings */
    section h1 {
      margin-left: 0;
    }
    #deprecation-notice {
      background-color: #fff9e3;
      border: 1px solid #ff9900;
      border-radius: 5px;
      color: #333;
      margin: 20px;
      padding: 10px 20px;
      font-family: Arial;
    }
    </style>
</head>

<body class="<?js= title.toLowerCase() ?>">



<div id="main">
    <div id="deprecation-notice">
      <strong>The JS Buy SDK has been deprecated.</strong> For more information, please see the <a href="https://github.com/Shopify/js-buy-sdk/blob/main/migration-guide" target="_blank">migration guide</a>.
    </div>

    <?js if(title !== "Home") { ?>
      <h1 class="page-title"><?js= title ?></h1>
    <?js } ?>

    <?js= content ?>
</div>

<nav>
    <?js= this.nav ?>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
