.product {
  max-width: 400px;
  box-shadow: 0 0 100px 10px #eee;
  padding: 30px;
  margin: 40px auto;
  line-height: 1;
}

.product-title,
.variant-title,
.variant-image,
.variant-price {
  margin-bottom: 20px;
}

.variant-selectors {
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.shopify-select {
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: bottom;
}

.shopify-select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.select {
  font-size: 16px;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
