<header class="docs-header">
  <ul>
    <li>
      <a href="https://github.com/Shopify/js-buy-sdk">
        <img src="/assets/images/github-logo.png" alt="" />
        View on Github</a>
    </li>
    <li>
      <a href="https://github.com/Shopify/js-buy-sdk">
        <img src="/assets/images/npm-logo.png" alt="" />
        View on NPM</a>
    </li>
    <li>
      <a href="https://github.com/Shopify/js-buy-sdk">
        <img src="/assets/images/shopify-logo.png" alt="" />
        View on Shopify</a>
    </li>
  </ul>
</header>
