<header class="docs-header">
  <ul>
    <li>
      <a href="https://github.com/Shopify/js-buy-sdk">
        <img src="/assets/images/github-logo.png" alt="View on github" />
        <span class="link-text">View on Github</span></a>
    </li>
    <li>
      <a href="https://github.com/Shopify/js-buy-sdk">
        <img src="/assets/images/npm-logo.png" alt="View on NPM" />
        <span class="link-text">View on NPM</span></a>
    </li>
    <li>
      <a href="https://github.com/Shopify/js-buy-sdk">
        <img src="/assets/images/shopify-logo.png" alt="View on Shopify docs" />
        <span class="link-text">View on Shopify Docs</span></a>
    </li>
  </ul>
</header>
