@charset 'utf-8';

$url-prefix: 'https://cdn.shopify.com/shopify-marketing_assets/static/';

@font-face {
  font-family: 'brandon';
  src: url("#{$url-prefix}Brandon--regular.woff2") format('woff2'),
       url("#{$url-prefix}Branon--regular.woff") format('woff');
  font-style: normal;
  font-weight: normal;;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;;
  color: #666;
}

a {
  color: #666;
}

blockquote {
  font-style: normal;
}

.left {
  color: #888;
  background: #31373d;
  font-family: 'brandon', Helvetica, Arial, sans-serif;

  @media screen and (max-width: 799px) {
    padding: 30px;
  }

  @media screen and (min-width: 800px) {
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #272c30;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 30px;
    width: 250px;
  }

  a {
    color: rgba(255, 255, 255, 0.7);
  }
}

.left h1 a {
  color: #fff;
}

.right {
  @media screen and (min-width: 800px) {
    position: absolute;
    left: 288px;
    right: 0;
    top: 0;
    padding-bottom: 80px;
  }
}

h1, h2 {
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: 'brandon', Helvetica, Arial, sans-serif;
}

pre, code {
  font-family: Menlo,"DejaVu Sans Mono","Bitstream Vera Sans Mono",Consolas,Monaco,"Courier New",monospace;
  background: #fff;
  font-size: 12px;
  line-height: 1em;
  border-radius: 2px;
  border: 1px solid #ecf0f3;
}

code {
  display: inline-block;
  padding: 4px;
  position: relative;
  top: -1px;
}

pre {
  word-wrap: break-word;
  line-height: 1.6em;
  white-space: pre-wrap;
  padding: 14px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

p {
  padding-right: 20px;
  line-height: 1.5em;
}

.docs-container {
  max-width: 1440px;
}

.docs-header {
  list-style: none;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;

  ul {
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding-right: 20px;

    @media screen and (max-width: 799px) {
      padding-right: 10px;
      .link-text {
        display: none;
      }
    }
  }

  a {
    color: #7c7c7c;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    width: 32px;
  }
}

.docs-header {
  margin-bottom: 20px;
  padding-top: 15px;

}

.docs-content {
  padding-right: 30px;

  h1, h2, h3, h4 {
    color: $header-color;
  }

  a {
    color: $brand-color;
    text-decoration: underline;
  }

  .docs-header {
    a {
      text-decoration: none;
      color: #666;
    }
  }

  @media screen and (max-width: 799px) {
    padding-left: 30px;
  }
}

.docs-content--api {
  @media screen and (min-width: 1200px) {
    width: calc(100% - 250px);
    padding-right: 0;
  }
}

.docs-pages {
  margin: 0;
  list-style: none;
}

.docs-class__sidebar {
  padding: 20px;
  background: #f8f8f8;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;
    height: 100%;
    margin-bottom: 0;
  }

  ul {
    margin-left: 0;
    list-style: none;
  }

  h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 0;
  }
}

.apidocs .page-section {
  h2 {
    font-weight: normal;
    margin-top: 20px;
  }
}

.apidocs {
  .method-signature,
  .method-signature code {
    line-height: 20px;
    font-size: 15px;
    background: none;
    border: 0;
  }

  .method-signature {
    display: inline-block;

    .name {
      color: $brand-color;
      font-weight: bold;

      code {
        padding-left: 0;
      }
    }

    .args {
      margin: 0;

      .optional {
        color: #a6a6a6;
      }
    }
  }

  .item {
    .meta {
      margin-bottom: 10px;

      a {
        text-decoration: underline;
      }
    }

    .description {
      margin-bottom: 20px;
    }

  }
}

.apidocs .item pre.prettyprint,
.docs-content .highlighter-rouge .highlight {
  background: #f8f8f8;
  border: 0;
  padding: 14px;
  border-left: 3px solid #7a8c9b;
}
