html, body, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-body;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  -webkit-appearance: textfield;
  margin: 0;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  height: 100%;
  background: white;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
}
