html, body, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-body;
}
