<div class="apidocs">
    <div id="docs-main" class="content">
      <h2>JavaScript Buy SDK API reference</h2>
      <ul id="api-classes" class="nav nav-list">
          {{#publicClasses classes}}
              <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
          {{/publicClasses}}
      </ul>
    </div>
</div>
